animations {
    off
}

binds {
    Super+T { spawn "foot"; }
    Super+W { spawn "chromium"; }

    XF86AudioRaiseVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute        { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }

    Super+Space { spawn "playerctl" "play-pause"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "thinkbright" "+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "thinkbright" "-"; }

    Super+Q repeat=false { close-window; }

    Super+Left        { focus-column-left;  }
    Super+Shift+Left  {  move-column-left;  }
    Super+Down        { focus-window-down;  }
    Super+Shift+Down  {  move-window-down;  }
    Super+Up          { focus-window-up;    }
    Super+Shift+Up    {  move-window-up;    }
    Super+Right       { focus-column-right; }
    Super+Shift+Right {  move-column-right; }

    Super+H           { focus-column-left;  }
    Super+Shift+H     {  move-column-left;  }
    Super+J           { focus-window-down;  }
    Super+Shift+J     {  move-window-down;  }
    Super+K           { focus-window-up;    }
    Super+Shift+K     {  move-window-up;    }
    Super+L           { focus-column-right; }
    Super+Shift+L     {  move-column-right; }

    Super+Page_Up         {          focus-workspace-up;   }
    Super+Shift+Page_Up   { move-column-to-workspace-up;   }
    Super+Page_Down       {          focus-workspace-down; }
    Super+Shift+Page_Down { move-column-to-workspace-down; }

    Super+WheelScrollDown       cooldown-ms=150 {          focus-workspace-down; }
    Super+Shift+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Super+WheelScrollUp         cooldown-ms=150 {          focus-workspace-up;   }
    Super+Shift+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up;   }

    Super+BracketLeft  { consume-or-expel-window-left; }
    Super+BracketRight { consume-or-expel-window-right; }
    
    F11 { fullscreen-window; }

    Super+F { maximize-column; }
    Super+Shift+F { expand-column-to-available-width; }

    Super+Minus { set-column-width "-10%"; }
    Super+Equal { set-column-width "+10%"; }
    Super+0     { set-column-width "50%"; }

    Super+Shift+Minus { set-window-height "-10%"; }
    Super+Shift+Equal { set-window-height "+10%"; }
    Super+Shift+0     { reset-window-height; }

    Print { screenshot; }
}

clipboard {
    disable-primary
}

gestures {
    hot-corners {
        off
    }
}

hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        repeat-delay 200
    }
    touchpad {
        natural-scroll
        tap
    }
    focus-follows-mouse
    warp-mouse-to-focus mode="center-xy-always"
}

layout {
    border {
        active-color "#3B4252"
        inactive-color "#3B4252"
        urgent-color "#3B4252"
        width 4
    }
    focus-ring {
        off
    }
    insert-hint {
        off
    }
    shadow {
        off
    }
    tab-indicator {
        off
    }
    background-color "#2E3440"
    default-column-display "tabbed"
    gaps 16
}

overview {
    backdrop-color "#2E3440"
}

recent-windows {
    off
}

window-rule {
    match app-id="^chromium$"
    scroll-factor 0.2
}

prefer-no-csd
